@import "tailwindcss";

@theme {
  --color-primary: #4F46E5;
  --color-secondary: #06B6D4;
  --color-accent: #F59E0B;
  --color-muted: #6B7280;
  --color-success: #22C55E;
  --color-danger: #EF4444;
  --color-dark: #0F172A;
}